* {
  margin: 0;
  // background-color: rgb(0, 31, 57);
  color: white;
}

a {
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
    text-decoration: underline;
  }
}

input {
  color: rgb(0, 31, 57);
}

p {
  text-align: center;
  text-decoration: solid;
  line-height: 25px;
}

h2 {
  text-align: center;
  text-indent: 15px;
}
