.button {
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  color: rgb(12, 0, 0);
  border-radius: 5px;

  &:hover {
    background-color: rgb(12, 0, 0);
    color: white;
  }

  .error {
    background-color: rgb(242, 77, 77);
  }
}
